.card {
  background-color: #fff;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  gap: 2rem;
  position: relative;
}
.cardDetails{
  flex: 1 0 auto;
}
.cardImage {
  flex: 2 0 auto;
  /* width: 100%; */
  background-color: #eee;
}
.crossIcon{
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
}
.cardTitle {
  font-size: 2rem;
  font-weight: 600;
}
.cardDetails h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}
