@font-face {
  font-family: "Gobold_Regular";
  src: local("Gobold_Regular"),
    url(./assets/fonts/Gobold_Regular.otf) format("otf");
}
@font-face {
  font-family: "Product_Sans";
  src: local("Product_Sans"), url(./assets/fonts/Product_Sans.ttf) format("ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Gobold_Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
